name: Pull Request
on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - master
  push:
    branches:
      - master

jobs:
  add-labels-based-on-whats-changed:
    name: Add PR labels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            mobile:
              - 'packages/app-mobile/**'
            extension:
              - 'packages/app-extension/**'
            xnft:
              - 'packages/react-xnft/**'
              - 'packages/react-xnft-renderer/**'
              - 'packages/xnft/**'
              - 'packages/xnft-cli/**'

      - if: steps.changes.outputs.mobile == 'true'
        uses: andymckay/labeler@1.0.4
        with:
          add-labels: "mobile"

      - if: steps.changes.outputs.extension == 'true'
        uses: andymckay/labeler@1.0.4
        with:
          add-labels: "extension"

      - if: steps.changes.outputs.xnft == 'true'
        uses: andymckay/labeler@1.0.4
        with:
          add-labels: "xnft"

  tests:
    runs-on: ubuntu-latest
    name: Build and run tests
    # https://turborepo.org/docs/ci/github-actions
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      ##########################################################################
      # Setup environment.
      ##########################################################################

      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: actions/cache@v3
        name: yarn-cache
        id: yarn-cache
        with:
          path: |
            **/node_modules
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            !**/node_modules/.cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn

      ##########################################################################
      # Yarn install.
      ##########################################################################

      - name: yarn install
        run: yarn install --frozen-lockfile --prefer-offline

      ##########################################################################
      # Yarn test.
      ##########################################################################

      - run: yarn test

      ##########################################################################
      # Set ENV vars
      ##########################################################################

      - if: github.event_name == 'pull_request'
        name: "set env.commit_sha from latest commit in PR"
        run: echo "commit_sha=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV
      - if: github.event_name == 'push'
        name: "set env.commit_sha from commit or merge commit"
        run: echo "commit_sha=${{ github.sha }}" >> $GITHUB_ENV

      - name: "set env.short_sha"
        run: echo "short_sha=`echo "${{ env.commit_sha }}" | cut -c1-8`" >> $GITHUB_ENV

      - name: set env.webworker_url
        run: echo "webworker_url=https://coral-xyz.github.io/backpack/background-scripts/${{ env.short_sha }}/service-worker-loader.html" >> $GITHUB_ENV

      ##########################################################################
      # Build extension.
      ##########################################################################

      - name: "build extension"
        # CI!=true so that build warnings aren't treated like errors (for now)
        env:
          CI: ""
        run: WEBWORKER_URL=${{ env.webworker_url }} yarn build

      ##########################################################################
      # GitHub Pages.
      ##########################################################################

      - run: cd packages/background && yarn build:html

      - name: Deploy background html
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: packages/background/build
          github_token: ${{ secrets.GITHUB_TOKEN }}
          destination_dir: "background-scripts/${{ env.short_sha }}"

      ##########################################################################
      # Mobile app
      ##########################################################################

      - name: set env.expo_channel
        run: echo "expo_channel=pr-${{ github.event.number }}" >> $GITHUB_ENV

      - name: Setup Expo
        uses: expo/expo-github-action@v7
        with:
          expo-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Publish to Expo
        working-directory: packages/app-mobile
        run: WEBWORKER_URL=${{ env.webworker_url }} expo publish --release-channel=${{ env.expo_channel }} --non-interactive

      - name: Comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: qr-code
          message: |
            Deployed to channel **${{ env.expo_channel }}**

            <img alt="QR Code" src="https://qr.expo.dev/development-client?appScheme=exp+backpack&url=https://exp.host/@coral-xyz/backpack?release-channel=${{ env.expo_channel }}" width="250" height="250" />
            [Manifest](https://exp.host/@coral-xyz/backpack/index.exp?release-channel=${{ env.expo_channel }}&sdkVersion=45.0.0) / [Learn more](https://expo.fyi/manifest-url)
            [Project page](https://expo.dev/@coral-xyz/backpack?serviceType=classic&distribution=expo-dev-client&scheme=exp+backpack&releaseChannel=${{ env.expo_channel }}) / [Learn more](https://expo.fyi/project-page)
            [Webworker](${{ env.webworker_url }})

      ##########################################################################
      # Release.
      ##########################################################################

      #
      # TODO: the master branch conditionson all these are bit hacky. Probably
      #       a cleaner way of doing this.
      #

      - name: "zip build artifacts"
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        working-directory: packages/app-extension
        run: zip -r build.zip build/
      - name: "upload build artifacts"
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2
        with:
          name: backpack-build
          path: packages/app-extension/build.zip
      - uses: actions/download-artifact@v2
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        with:
          name: backpack-build
          path: ./
      - uses: actions/create-release@v1
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        name: Create Draft Release
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: latest-${{ github.run_number }}
          release_name: latest-${{ github.run_number }}
          draft: false
          prerelease: false
      - uses: actions/upload-release-asset@v1.0.1
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build.zip
          asset_name: build.zip
          asset_content_type: application/zip
