name: Pull Request
on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - master
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn

      # The following [wallet-adapter] tasks are only necessary until
      # the 'anchor' branch in https://github.com/200ms-labs/wallet-adapter
      # gets merged upstream and deployed in @solana/wallet-adapter

      # <<< START [wallet-adapter] tasks

      - name: "[wallet-adapter] checkout"
        uses: actions/checkout@v3
        with:
          repository: 200ms-labs/wallet-adapter
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          path: wallet-adapter

      - name: "[wallet-adapter] set env var"
        run: echo "wallet_adapter_sha=$(
          cd wallet-adapter && git rev-parse --short HEAD
          )" >> $GITHUB_ENV

      # cache `yarn build` output based on latest commit SHA as it takes 10+ mins

      - name: "[wallet-adapter] cache"
        id: wallet-adapter-cache
        uses: actions/cache@v3
        with:
          path: wallet-adapter
          key: ${{ runner.OS }}-wallet-adapter-cache-${{ env.wallet_adapter_sha }}

      - name: "[wallet-adapter] install deps"
        working-directory: wallet-adapter
        run: yarn install

      - name: "[wallet-adapter] build"
        if: steps.wallet-adapter-cache.outputs.cache-hit != 'true'
        working-directory: wallet-adapter
        run: yarn build

      - name: "[wallet-adapter] yarn link"
        working-directory: wallet-adapter
        run: npx lerna exec -- yarn link

      # END [wallet-adapter] tasks >>>

      - run: yarn install

      - run: yarn test

      - name: build extension (for e2e tests)
        # CI!=true so that build warnings aren't treated like errors (for now)
        env:
          CI: ""
        # this should be `yarn workspaces build` but there is an issue with the
        # order in which things get built because of some complex build logic
        # in packages/extension/package.json
        # TODO: simplify this task
        run: yarn workspace @200ms/common build &&
          yarn workspace @200ms/ledger-core build &&
          yarn workspace @200ms/extension build

      - name: run puppeteer e2e tests
        uses: mujo-code/puppeteer-headful@v2
        with:
          args: yarn workspace @200ms/extension e2e
